/******************************************************************************/
/* GENERAL MODULES */
/******************************************************************************/
.module-container {
    border: 1px solid blue;
    & > div {
        border: 1px solid red;
    }
    
    h2 {
        //padding: $padding;
        //margin: 20px 0;
    }
}
.module-header {
    span { 
        font-size: 13px;
        font-style: italic; 
        color:#CCC;
    }
}
.module-nav {
    //.item { text-transform: capitalize; }
    
    //@include flexi-list-nav(flex-start);
    //ul li { margin: 0 0.25em; }
    //ul li:first-child { margin: 0 0.25em 0 0; }
    //@include hyperlinks();
}
.module-content{
   // display:block; 
    //width:100%; 
   // clear:both;  
}

.module-filters {}
.module-no-results {}

.countries-list {     
    @include flexi-list-column-links(4);    
    @include hyperlinks();
}

@media screen and (max-width: $breakpoint_tablet) {
    .countries-list {
        @include flexi-list-column-links(2);
    }
}