//@import url(http://allfont.net/allfont.css?fonts=open-sans);
//@import url(http://allfont.net/allfont.css?fonts=open-sans-bold);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

$website_max_with:1200px;
$breakpoint_tablet: 767px;
$breakpoint_mobile: 425px;
$breakpoint_mobile_small: 375px;

//$card-width: 24rem;
$card-width: 25rem;

$block_margin: 1rem 0.5rem;
$padding: 0.25rem;
$link_padding: 0.25rem;

////////////////////////////////////////////////////////////////////////////////
//  OLD CSS
////////////////////////////////////////////////////////////////////////////////
@import "_beta";
@import "_mixins";
@import "_normalize";
//@import "../modules/public/dist/_semantic";
@import "_dataset";
@import "_oldstyles";

// SEMANTIC UI
/**/
@import "_ui-container";
@import "_ui-grid";
@import "_ui-menu";
@import "_ui-images";
@import "_ui-flag";
@import "_ui-icon";
@import "_ui-label";
@import "_ui-list";
@import "_ui-button";
@import "_ui-breadcrumb";
@import "_ui-card"; 
@import "_ui-dimmer.min";
@import "_ui-transition"; 
@import "_ui-form";
@import "_ui-message";
@import "_ui-popup";

////////////////////////////////////////////////////////////////////////////////
// BASE LAYOUT 
////////////////////////////////////////////////////////////////////////////////
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    //font-family: 'Open Sans Bold', sans-serif;
    font-weight: normal;
    margin: 0.25rem 0;

    span {
        color:#aaa;
        font-size: small;
    }
}

strong, em {
    //font-family: 'Open Sans Bold', sans-serif;  
    font-style: normal;
    font-weight: normal;
}

hr {
    border: none;
    border-top:1px solid #000;
    margin: 0.5rem 0;
}

ul, 
li { 
    list-style: none; 
    margin: 0;
    padding: 0;
    text-align: left;
}

a { 
    outline:0 none; 
    color: #333; 
    text-decoration: none;

    &:hover { text-decoration: underline; }
}

small {
    color:#aaa;
    font-size:small;
}

a.nodeco:hover { text-decoration: none; }
a.hover { opacity:0.5 }
a.hover:hover { opacity:1 }

.hidden {
    display:none !important;
}

@media only screen and (max-width: $breakpoint_tablet) {
    h1,h2,h3,h4,h5,h6 { font-size:1em; }  
}

////////////////////////////////////////////////////////////////////////////////
// NAVIGATION / HEADER
////////////////////////////////////////////////////////////////////////////////
#cbyHeader {
    //border-bottom: 2px solid black;
    //padding: 0 0 10px 0px;
    margin: 1rem 0;  
    .column:not(.row), .row > .column {
        padding:0;
    }
}
@import "_slicknav";


.ui.menu {
    margin: 1rem 0;
    font-family: inherit; 
    background: #fff;
    font-weight: initial; 
    border: none; 
    box-shadow: none; 
    border-radius:0; 
    min-height: 2em;
}
.ui.menu .item {
    padding: 0.5em;
    margin: 0.125em 0.25em;
    justify-content: center;
}
.ui.menu .item:before {
    background: none;
}

.ui.vertical.menu {
    box-shadow:none;
}
.ui.menu .active.item,
.ui.vertical.menu .active.item {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    font-weight: initial;
}

.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
}
.ui.menu .active.item:hover, .ui.vertical.menu .active.item:hover {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
}
.ui.menu>.item:first-child ,
.ui.menu>.item:last-child {
    border-radius: 0;
}
.ui.pagination.menu a.item {
    //padding:0;
    //text-align: center;
}
.ui.pagination.menu .active.item {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    padding-top: 0.5em;
    //text-align: center;
}

.ui.vertical.menu {
    width: auto;
    //a { text-align: center; }
}
.ui.button {
    font-weight: normal;
}

#cbyTopMenu {
    //position:absolute;
    //top:0;
    min-height: 1em;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin:0;
    padding: 0;
    //border: 1px solid red;
    
}

#cbyUserInfos {
    padding-right: 1rem;

}

#cbyLangMenu {

    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    //margin: 0.125em 0.25em;
    background-color: #000;
    color: #FFF;

    * { text-transform: uppercase; }

    input {
        border: none;
        //padding: 0.25rem;
        background-color: transparent;
        color:#FFF;
        text-shadow: 0 1px 3px #000;
        &:hover {
            cursor: pointer;   
        }
    }

    .cbySelect * { color:#000; } 

    ul, ul li ul {
        max-height: none;
        //overflow: auto;
    }

    .menuExtra { display: inline-block; } 

}

.countries-list {     
    @include flexi-list-column-links(4);    
    @include hyperlinks();

    span {
        color:#aaa;
        font-size: small;
    }
}

.ui.breadcrumb a {
    color:#000;
    opacity:.7;

    &:hover {
        color:#000;
    }
}

.ui.breadcrumb .divider { 
    color:#000; 
    //opacity: 1;
} 

.ui.breadcrumb .active.section {
    font-weight: normal;
}

@media only screen and (max-width: 991px) {
    .ui.menu {
        margin: 0.5rem 0;
        font-size: smaller;
    }   
    .ui.menu .item {
        padding: 0.4em;
        margin: 0.0725em 0.125em;
    }
    #cbyTopMenu {
        font-size: smaller;
        padding:0.125rem;
        input {
            //padding:0.125rem;
            font-size: smaller;

        }
    }
}

@media only screen and (max-width: $breakpoint_tablet) {
    .ui.floated.menu,
    .ui.right.floated.menu {
        float: none;
        margin:0;
    }
    #cbyHeader {
        // border-bottom: none;
        //margin: 0;   
    } 

    #cbyTopMenu {
        font-size: initial;
        padding: 0.438em 0.625em 0.438em 0.625em;
        top: 0.5rem;
        input {
            //padding:0.125rem;
            font-size: initial;

        }
    }    

    .countries-list {
        @include flexi-list-column-links(2);
    }    

}

@media only screen and (max-width: $breakpoint_mobile) {
    #cbyTopMenu {
        padding: 0.25em;
    }
    .ui.container {
        margin-left: 0.25em !important;
        margin-right: 0.25em !important;
    }   
    .ui.grid > * {
        //padding:0;
    }
    .ui.grid > .row > .column {
        //padding:0;
    }
}

.slide{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

        background: url("../modules/public/BANNER_TT_4.jpg") no-repeat no-repeat center center;
    width:100%;
    min-height: 360px;

    //border: 1px solid red;
}

.slide-header {
    
}


////////////////////////////////////////////////////////////////////////////////
//  MAIN CONTENT
////////////////////////////////////////////////////////////////////////////////
.origin i.flag { 
    width:8px;
    position: relative;
    left:-20px;
    top:12px; 
    margin:0;
    padding:0;
}

.card {

    a.no-decoration, .dimmer a {
        text-decoration: none;  
    }
}

.card div.name {
    display: inline-block;
    vertical-align: middle;
    margin-left: -0.5em;
    min-height: 1.25em;
    max-width: 75%;
}
.ui.labels > .label {
    margin: 0em 0.25em 0.25em 0em;
}

.ui.label {
    margin:0.2em;
}


@media only screen and (max-width: $breakpoint_tablet) {
    .computer-only { display:none; }
}

////////////////////////////////////////////////////////////////////////////////
// NAVIGATION / FOOTER
////////////////////////////////////////////////////////////////////////////////
#cbyFooter {
    text-align: center;
    border-top: 2px solid black;
    margin: 3rem 0;

    .column {padding:0 !important;}
}

#cbySocial { 
    a:hover { text-decoration: none; }
}

////////////////////////////////////////////////////////////////////////////////
// POPUP FIXES
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: $breakpoint_mobile) {

    /*
        #cbyPop1 div.logo { 
            //display:none;
            top:25px;
            right:70px;
            img {
                height:120px!important; 
            }
        }
        #cbyPop1 .people2  {
    
            img {
                height:140px!important; 
            }
        }
        #cbyPop1 div.resume {
            li {
                float: none;
    
            }
    
            h4, h4.space {  
                margin:0; }
        }
    */
}
@media screen and (min-width: $breakpoint_tablet) {
    #cbyPop1 {
        max-width:700px;
        margin:auto;
    }
}
