//@import url(http://allfont.net/allfont.css?fonts=open-sans);
  @import url(http://fr.allfont.net/allfont.css?fonts=open-sans-light);
@import url(http://allfont.net/allfont.css?fonts=open-sans-bold);
@import url(http://allfont.net/allfont.css?fonts=open-sans-condensed-bold);

//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');
//@import url('https://fonts.googleapis.com/css?family=Oswald:600&subset=cyrillic,latin-ext');

$website_max_with:1200px;
$breakpoint_tablet: 767px;
$breakpoint_mobile: 425px;
$breakpoint_mobile_small: 375px;

//$card-width: 24rem;
$card-width: 25rem;

$block_margin: 1rem 0.5rem; 
$padding: 0.25rem;
$link_padding: 0.25rem;


////////////////////////////////////////////////////////////////////////////////
//  OLD CSS
////////////////////////////////////////////////////////////////////////////////

@import "_beta";
@import "_mixins";
@import "_normalize";
//@import "../modules/public/dist/_semantic";
@import "_dataset";
@import "_oldstyles";

// SEMANTIC UI
/**/
@import "_ui-container";
@import "_ui-grid";
@import "_ui-menu";
@import "_ui-images";
@import "_ui-flag";
@import "_ui-icon";
@import "_ui-label"; 
@import "_ui-item";
@import "_ui-button";
@import "_ui-breadcrumb";
@import "_ui-card"; 
@import "_ui-dimmer.min";
@import "_ui-transition"; 
@import "_ui-form";
@import "_ui-message";
@import "_ui-popup";
@import "_ui-divider";
@import "_ui-table"; 

.ui.divider {
    font-weight: normal;
}
////////////////////////////////////////////////////////////////////////////////
// BASE LAYOUT 
////////////////////////////////////////////////////////////////////////////////
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 1em;
    //text-align: justify;
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    //font-family: 'Capture it', sans-serif;  
    font-style: normal;
    font-weight: normal;
    margin: 0.25rem 0;
    //margin: 0 0 1.5rem 0;
    //display: inline;

    span {
        color:#aaa;
        font-size: small;
    }
    em,i {
        font-style: normal;
        font-weight: normal;   
    }
}


h2 { font-size: 1.325em }
h4 { font-size: 0.925em; }

strong, b {
    font-family: 'Open Sans Bold', sans-serif;  
    font-style: normal;
    font-weight: normal;
}

hr {
    border: none;
    border-top:1px solid #000;
    margin: 0.5rem 0;
}

ul, 
li { 
    list-style: none; 
    margin: 0;
    padding: 0;
    //text-align: left;
}

a { 
    outline:0 none; 
    color: #333; 
    text-decoration: none;

    &:hover { text-decoration: underline; }
}
a.no-deoration:hover { text-decoration: none; }

table {
    border: none;
}

small {
    color:#aaa;
    font-size:small;
}

a.nodeco:hover { text-decoration: none; }
a.hover { opacity:0.5 }
a.hover:hover { opacity:1 }


@media only screen and (max-width: $breakpoint_tablet) {
    //h1,h2,h3,h4,h5,h6 { font-size:1em; }  
    //h1,h2,h3,h4,h5,h6 { font-size:smaller; }  
    .home-title { 
        font-size: 1.125em;
    }
}

////////////////////////////////////////////////////////////////////////////////
// NAVIGATION / HEADER
////////////////////////////////////////////////////////////////////////////////
#cbyHeader {
    //border-bottom: 2px solid black;
    //padding: 0 0 10px 0px;
    margin: 0.25rem 0;  
    .column:not(.row), .row > .column {
        padding:0;
    }
}
@import "_slicknav";


.ui.menu {
    margin: 1rem 0;
    font-family: inherit; 
    background: #fff;
    font-weight: initial; 
    border: none; 
    box-shadow: none; 
    border-radius:0; 
    min-height: 2em;
}
.ui.menu .item {
    padding: 0.375em;
    margin: 0.125em 0.125em;
    justify-content: center;
}
.ui.menu .item:before {
    background: none;
}

.ui.vertical.menu {
    box-shadow:none;
}
.ui.menu .active.item,
.ui.vertical.menu .active.item {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    font-weight: initial;
}

.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
}
.ui.menu .active.item:hover, .ui.vertical.menu .active.item:hover {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
}
.ui.menu>.item:first-child ,
.ui.menu>.item:last-child {
    border-radius: 0;
}
.ui.pointing.menu .active.item:after {
    background-color: rgba(0,0,0,1);
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

    &:hover {
        background-color: rgba(0,0,0,1);  
    }
}

.ui.pagination.menu a.item {
    //padding:0;
    //text-align: center;
}
.ui.pagination.menu .active.item {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    padding-top: 0.5em;
    //text-align: center;
}

.ui.vertical.menu {
    width: auto;
    //a { text-align: center; }
}
.ui.button {
    font-weight: normal;
}


#cbySubMenu {
    border: 1px solid red;  
}

#cbyUserInfos {
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right:150px;
    font-size: small;   
    text-align: right;
}

#cbyLangMenu {

    padding: 0.425em 0.625em 0.425em 0.625em;
    line-height: 1.125em;
    margin: 0.125em 0.25em;
    background-color: #000;
    color: #FFF;

    position:absolute;
    top:-6px;
    right:0;
    z-index: 399;

    * { text-transform: uppercase; }

    input {
        border: none;
        //padding: 0.25rem;
        background-color: transparent;
        color:#FFF;
        //text-shadow: 0 1px 3px #000;
        &:hover {
            cursor: pointer;   
        }
    }

    .cbySelect * { color:#000; } 

    ul, ul li ul {
        max-height: none;
        //overflow: auto;
    }

    .menuExtra { display: inline-block; } 

}

.countries-list {     
    @include flexi-list-column-links(4);    
    @include hyperlinks();

    span {
        color:#aaa;
        font-size: small;
    }
}

.ui.breadcrumb a {
    color:#000;
    opacity:.7;

    &:hover {
        color:#000;
    }
}

.ui.breadcrumb .divider { 
    color:#000; 
    //opacity: 1;
} 

.ui.breadcrumb .active.section {
    font-weight: normal;
}

@media only screen and (max-width: 991px) {

    #cbyLangMenu { 
        input { font-size: smaller; width:59px !important }
        padding: 0.5em;
        margin: 0 0 0 10px;
        font-size: smaller;
    } 

    #cbyUserInfos {
        padding: 0.125rem;
        top: 0px;
        right:110px;
        font-size: smaller;   
    }

    .ui.menu {
        margin: 0.5rem 0;
        font-size: smaller;
    }   
    .ui.menu .item {
        padding: 0.25em;
        margin: 0.0725em 0.125em;
    }

}

.block .content {
    margin-top:1em;
    font-size: smaller;
}

@media only screen and (max-width: $breakpoint_tablet) {

    .countries-list {
        @include flexi-list-column-links(2);
    }   

    #cbyLangMenu {
        position:fixed;
        top:0px;
        right:16px;
        padding: 0.36em; 
    }

}

@media only screen and (max-width: $breakpoint_mobile) {
    .ui.form input:not([type]), .ui.form input[type="date"], 
    .ui.form input[type="datetime-local"], .ui.form input[type="email"], 
    .ui.form input[type="number"], .ui.form input[type="password"], 
    .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], 
    .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"]
    {
        padding:3px;
    }
    //#cbyContent > div > div.contentRight.ten.wide.column > div > div > div.block.availability > div.content > div.not > div > table > tbody > tr > td:nth-child(2) { display:none; }
    table.booking-availability > tbody > tr > td:first-child img { display:none !important; }
    div.cbyDataset  { font-size: smaller; }
}
@media only screen and (max-width: $breakpoint_tablet) {
    table.booking-availability > tbody > tr > td:nth-child(2) { display:none !important; }
}

.slide {
    position: relative;
    color: #FFF;
    border-radius: 5px;
    overflow: hidden;
    text-shadow: 3px 3px rgba(0,0,0,.75);


}

.slide-bg {
    position: absolute;
    top:20%;
    left:0;

    padding: 2em 1em 2em 2em;
    background: rgba(0,0,0,.50);
}

.slide-header { 
    color: orange;
    h2 { 
        font-family: 'Open Sans Condensed Bold', sans-serif;
        font-size: 3.5rem; 
        font-weight: bold;
    }
}
.slide-text { 
    font-size: 1.5rem;
}
@media only screen and (max-width: $breakpoint_tablet) {
    .slide {    
        text-shadow: 2px 2px rgba(0,0,0,.75);
    }
    .slide-header{ 
        h2 { font-size: 2.25rem; }
    }
    .slide-text { font-size: 1rem; }   
}
@media only screen and (max-width: $breakpoint_mobile) { 
    .slide {    
        text-shadow: 1px 1px rgba(0,0,0,.75);
    }
    .slide-bg { padding: 1em 0.5em 1em 1em;}
    .slide-header{ 
        h2 { font-size: 1.5rem; }
    }
    .slide-text { 
        font-size: 0.75rem; 
    }
}

////////////////////////////////////////////////////////////////////////////////
//  MAIN CONTENT
////////////////////////////////////////////////////////////////////////////////
.origin i.flag { 
    width:8px;
    position: relative;
    left:-18px;
    top:12px; 
    margin:0;
    padding:0;
}
a.no-decoration, .dimmer a {
    text-decoration: none;  
}

ui.button,
.ui.basic.buttons .button,
.ui.basic.button
{ border-radius: 0!important; }


.ui.card, .ui.cards {

}


.ui.cards > .card > .content > .header:not(.ui), 
.ui.card > .content > .header:not(.ui) {
    line-height: 1em;
}

.ui.card div.name {
    display: inline-block;
    vertical-align: middle;
    margin:0 0 0 -0.5em;
    min-height: 1.25em;
    //max-width: 80%;
    max-width: 200px;

    span {
        margin:0;
        padding:0;
    }

    .small {
        font-size: 0.75em;
    }
}

.ui.cards > .card img.avatar, .ui.cards > .card .avatar img, .ui.card img.avatar, .ui.card .avatar img {
    margin: 0 0 0.175rem 0;
}


.ui.labels > .label {
    margin: 0em 0.25em 0.25em 0em;
}

.ui.label {
    margin:0.2em;
}

.people {
    display:inline-block;
    .small {
        font-size: smaller;
    }
}

ul.people1 {
    display:inline-block;
    //padding: 0.5em;
    width:100%;

    li > div {
        padding: 3px 0;
    }
}

@media only screen and (max-width: $breakpoint_tablet) {
    .computer-only { display:none !important; }
}

ul.bigList {
    margin:1em;
    padding: 0;
    li {
        list-style: disc;
        list-style-position: inside;  
        padding:0;
        margin: 2px 0;
    }
}

div.dataset.forgetpasswd { margin-top: 3em;}

////////////////////////////////////////////////////////////////////////////////
// NAVIGATION / FOOTER
////////////////////////////////////////////////////////////////////////////////
#cbyFooter {
    text-align: center;
    border-top: 2px solid black;
    margin: 3rem 0;
    .column { padding:0 !important; text-align: center; }
    .menu { margin:1rem 0 ; }
}

#cbySocial { 
    a:hover { text-decoration: none; }
}

@media screen and (max-width: 670px) {
    #mywall > table > tbody > tr > td.label > span {
        display:block;
        margin: 3px 0;
    }
}
////////////////////////////////////////////////////////////////////////////////
// POPUP FIXES
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: $breakpoint_mobile) {

    div.logo { 
        //img { width:150px; } 
        img { display:none !important; } 
    }

    div.resume {
        //ul.people2 li:first-child img { height: 130px !important; }
        ul.people2 li:first-child img { display:none !important; }
        //ul.people2 li h2 { font-size: 1.25em; }
        // ul.people2 li h2:first-child { font-size: 1.5em; }
        ul.people2 li h4.space { margin: 3px 0; }
    }

    .ellipsis { 
        white-space:normal;
        overflow:visible;
        text-overflow:initial;
        max-width:none; 
    }

}
@media screen and (min-width: $breakpoint_tablet) {
    #cbyPop1 {
        max-width:720px;
        margin:auto;
    }

}

#cbyPop1 .people { display:block; }

div.resume { 
    
    h2 {
        font-size: 1.125em;
        &:first-child {font-size:1.5em; }
    }
    
    h4 { margin: 0.125em 0; }
}


table.booking-availability {
    //font-size: smaller;
}

table.booking-availability tr.info ul.people1 li:nth-child(2) div {
    overflow: hidden;
    max-width: 210px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    //border:1px solid red;
}
@media screen and (max-width: $breakpoint_mobile_small) {

    table.booking-availability tr.info ul.people1 li:nth-child(2) div {
        max-width: 150px;
    }
}


ul.people1 li.small-lines > div {
    margin:0;
    padding:0;
}
@media screen and (max-width: $breakpoint_tablet) {
    #cbyPop1 div.resume li {
        max-width: 280px;
        //font-size: smaller;
    }

    #cbyPop1 > div.cbyDataset.dataset.people_details > div > div.block.media_tattoo > div.content > ul > li > div.field_image > a > img, 
    #cbyPop1 > div.cbyDataset.dataset.people_details > div > div.block.media_studio > div.content > ul > li > div.field_image > a > img, 
    #cbyPop1 > div.cbyDataset.dataset.people_details > div > div.block.media_artist > div.content > ul > li > div.field_image > a > img, 
    #cbyPop1 > div.cbyDataset.dataset.people_details > div > div.block.media_fan > div.content > ul > li > div.field_image > a > img, 
    #cbyPop1 > div.cbyDataset.dataset.people_details > div > div.block.media_convention > div.content > ul > li > div.field_image > a > img, 
    {
       width: 74px !important;  
    }
}

.hidden, 
.mobile-only {
    display:none !important;
}

@media screen and (max-width: $breakpoint_tablet) {
    .mobile-only {
        display:inline-block !important;
    }
    .ui.cards.gallery-nav > .card > .content {
        padding:0 !important;
        a { 
            display:flex; 
            //align-content: center;
            align-items: center;
            //justify-content: center;
            flex-wrap: wrap;
        }

        div { flex-direction: column; }
        img { margin: 0 10px 0 0; }
        h2 { font-size: 1.35em; }
        //p { float: left;}
    }

} 